/* style.css */

body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
}

.navbar{
    background:#222;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

.navbar a:hover{
    color:skyblue;
}

.main{
    margin-top:80px;
    padding:20px;
}

h1{
    color:#222;
}

p{
    color:#555;
    font-size:18px;
}

button{
    padding:10px 20px;
    border:none;
    background:skyblue;
    color:white;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0099cc;
}